In [72]:
import pandas as pd
import os
from typing import List
import glob

In [77]:
test_folder = r"./short_sale_calculator/test"
file_list = glob.glob(os.path.join(test_folder, "*.csv"))
print("Files found:", file_list)

Files found: []

In [78]:
            
for i, file_path in enumerate(file_list):
    if not os.path.exists(file_path):
        print(f"Warning: File {file_path} does not exist, skipping...")
        continue

In [79]:
file_paths = file_list
output_path = r"./short_sale_calculator/test"

In [80]:
headers =[
                "Security Name (Security Code)",
                "Date of Sale/Transfer",
                "Asset Type",
                "Quantity",
                "Sales Consideration - Reported by Source",
                "Cost of Acquisition",
                "Status"
                
            ]

In [81]:

combined_data = []
fno = 1
df = pd.read_csv(file_path,skiprows=1)
df.head()

,S.No,Information Category,Information Code,Information Description,Information Source,Amount Description,Amount,AMC Name (Code),Date of Sale/Transfer,Security Class,...,Sales Consideration - Reported by Source,Sales Consideration - Modified,STT,Cost of Acquisition,Unit FMV,Fair Market Value,Indexed Cost of Acquisition,Status,Feedback,Unnamed: 25
0,1,Sale of securities and units of mutual fund,SFT-18-OTU(M),Sale of other unit (RTA),KFIN TECHNOLOGIES PVT. LTD (AAGCK6303B),Value of consideration,"13,933",Quant MF(166),11-NOV-2024,Other Units,...,"2,056",NaN,0,"2,004",0,0,0,Active,Optional,NaN
1,2,Sale of securities and units of mutual fund,SFT-18-OTU(M),Sale of other unit (RTA),KFIN TECHNOLOGIES PVT. LTD (AAGCK6303B),Value of consideration,"13,933",Quant MF(166),11-NOV-2024,Other Units,...,"1,169",NaN,0,"1,000",0,0,"1,097",Active,Optional,NaN
2,3,Sale of securities and units of mutual fund,SFT-18-OTU(M),Sale of other unit (RTA),KFIN TECHNOLOGIES PVT. LTD (AAGCK6303B),Value of consideration,"13,933",Quant MF(166),11-NOV-2024,Other Units,...,"1,143",NaN,0,"1,000",0,0,0,Active,Optional,NaN
3,4,Sale of securities and units of mutual fund,SFT-18-OTU(M),Sale of other unit (RTA),KFIN TECHNOLOGIES PVT. LTD (AAGCK6303B),Value of consideration,"13,933",Quant MF(166),11-NOV-2024,Other Units,...,902,NaN,0,700,0,0,844,Active,Optional,NaN
4,5,Sale of securities and units of mutual fund,SFT-18-OTU(M),Sale of other unit (RTA),KFIN TECHNOLOGIES PVT. LTD (AAGCK6303B),Value of consideration,"13,933",Quant MF(166),11-NOV-2024,Other Units,...,129,NaN,0,100,0,0,121,Active,Optional,NaN

In [82]:
# Set the column names to match the headers from the first file
df = df[headers]
df.head()

,Security Name (Security Code),Date of Sale/Transfer,Asset Type,Quantity,Sales Consideration - Reported by Source,Cost of Acquisition,Status
0,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Short term,50.72,"2,056","2,004",Active
1,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Long term,28.84,"1,169","1,000",Active
2,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Short term,28.20,"1,143","1,000",Active
3,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Long term,22.26,902,700,Active
4,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Long term,3.18,129,100,Active

In [ ]:

                
# Convert columns to numeric, removing commas and handling errors
df['Cost of Acquisition'] = pd.to_numeric(df['Cost of Acquisition'].replace({r',': ''}, regex=True))
df['Sales Consideration - Reported by Source'] = pd.to_numeric(df['Sales Consideration - Reported by Source'].replace({r',': ''}, regex=True), errors='coerce')

# Add source file column to track origin
df['source_file'] = os.path.basename(file_path)
df['Sale - Cost'] = df['Sales Consideration - Reported by Source'] - df['Cost of Acquisition']
df.head()

,Security Name (Security Code),Date of Sale/Transfer,Asset Type,Quantity,Sales Consideration - Reported by Source,Cost of Acquisition,Status,source_file,Cost - Sell
0,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Short term,50.72,2056,2004,Active,06. CG AIS.csv,52
1,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Long term,28.84,1169,1000,Active,06. CG AIS.csv,169
2,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Short term,28.20,1143,1000,Active,06. CG AIS.csv,143
3,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Long term,22.26,902,700,Active,06. CG AIS.csv,202
4,quant Liquid Fund_Direct Plan_Growth(INF966L01...,11-NOV-2024,Long term,3.18,129,100,Active,06. CG AIS.csv,29

In [ ]:
# Clean up any empty rows
df = df.dropna(how='all')
df.head()

In [ ]:
combined_data.append(df)

In [ ]:
            
# Combine all dataframes
combined_df = pd.concat(combined_data, ignore_index=True)
combined_df.head(50)